@import '../sass/mixins.scss';

#footer__one {
    padding: 70px 0;
    background-color: #515183;
}
.location__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.location {
    width: 30vw;
    margin: 0 15px;
    
}
.location__title {
    margin-bottom: 30px;
}
.location__title h4 {
    @include location__title;
}
.location__descr {
    display: block;
}

.location__descr span {
    text-align: center;
    @include location__descr
}
.location__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 30px;
    
}

@media (max-width:700px) {
    .location__wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;

}
    .location {
        width: 85vw;
        margin: 0 0 70px;

}
}
@media (max-width:450px) {

}