@import '../sass/mixins.scss';

#footer__two {
    padding: 40px 0;
    background-color: #202235;
}



.info__text{
    width: 30%;
    text-align: center;
    margin: auto;
}
.info__text span{
    @include footer__two;
}
#mod {
    color: $_white;
}

@media (max-width:850px){
    .info__text {
        width: 60%;
        text-align: center;
        margin: auto;
}
}
@media (max-width:650px){
    .location__descr {
        display: flex;
        justify-content: center;
    }
    .info__text {
        width: 70%;
        text-align: center;
        margin: auto;
}
}
@media (max-width:520px){
    .info__text {
        width: 85%;
        text-align: center;
        margin: auto;
}
}
@media (max-width:450px){
    .info__text {
        width: 100%;
        text-align: center;
        margin: auto;
}
}